<h3 class="text-center">Welcome to Pimp My Ride!</h3>
<div class="row">
<section class="section-white">
    <div class="container" id="carouselId">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="/cars/all">
                        <img src="~/images/carousel1.jpg" width="900" height="400">
                        <div class="carousel-caption">
                            <h2>See all cars and parts or ...</h2>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/cars/add">
                        <img src="~/images/carousel2.jpg" width="900" height="400">
                        <div class="carousel-caption">
                            <h2>... sell your parts.</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</section>
</div>