@model IEnumerable<CarListServiceModel>

<div style="margin-bottom: 30px;" class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="input-group" id="adv-search">
                <p class="form-control">Search for cars</p>
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal col-md-8 col-md-offset-2">
                                    <div class="form-group text-center">
                                        <label for="make">Make</label>
                                        <input class="form-control" name="make" type="text" id="make" />
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="model">Model</label>
                                        <input class="form-control" name="model" type="text" id="model" />
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="yearofprod">Year of Production</label>
                                        <p>From:</p> <input class="form-control" name="from" max="2017" min="1985" step="1" type="number" id="yearofprod" />
                                        <br />
                                        <br />
                                        <p>To:</p> <input class="form-control" name="to" max="2017" min="1985" step="1" type="number" />
                                    </div>
                                    <div class="text-center"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @await Component.InvokeAsync("CarList", Model)
</div>